@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
html {
  min-height: 100vh;
  width: 100%;
}
body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

main {
  height: 100vh;
  width: 100%;
  background-color: hsl(212, 45%, 89%);
  justify-items: center;
  align-content: center;
}

main .window {
  width: 320px;
  height: 499px;
  background-color: white;
  justify-items: center;
  border-radius: 15px;
  text-align: center;
  font-family: "Outfit", Courier, monospace;
}

.window .qr-code {
}

.window h3 {
  color: hsl(218, 44%, 22%);
}

.window p {   
  color: hsl(216, 15%, 48%);
}

.qr-code img {
  height: 288px;
  width: 288px;
  border-radius: 15px;
  margin: 16px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: hsl(228, 45%, 44%);
}
